.card-login {
  width: 400px;
  margin-top: 1%;
}
/* :host {
  display: flex;
  min-height: 100vh;
} */

mat-card {
  margin: auto;
  text-align: center;
}


.login-full-width {
  width: 100%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

