<mat-card class="card-login">
      <mat-card-header>
    <mat-card-title class="card-login title"><b> LOGIN </b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table class="login-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="login-full-width">
              <input matInput placeholder="Usuário"  name="username"  [(ngModel)]="usuario" required>
              <button mat-button *ngIf="usuario" matSuffix mat-icon-button aria-label="Limpar" (click)="usuario=''">
                  <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-full-width">
              <input matInput placeholder="Senha"  type="password" name="password" [(ngModel)]="senha" required>
              <button mat-button *ngIf="senha" matSuffix mat-icon-button aria-label="Limpar" (click)="senha=''">
                  <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions class="example-button-row">
    <button mat-raised-button color="primary" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Login</button>
    <button mat-raised-button color="basic" [routerLink]="['/cadastroCliente']" routerLinkActive="router-link-active" >Cadastre-se</button>
  </mat-card-actions>
</mat-card>
