<mat-card class="card-login">
    <mat-card-header>
      <mat-card-title class="card-login title"><b> Cadastro de empresas parceiras </b></mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <form>
        <table class="login-full-width" cellspacing="0">

          <tr>
            <td>
              <mat-form-field class="login-full-width">
                <input matInput placeholder="Nome da empresa"  name="emp_nome" [(ngModel)]="nome" required>
                <button mat-button *ngIf="nome" matSuffix mat-icon-button aria-label="Limpar" (click)="nome=''">
                  <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="login-full-width">
                <input matInput placeholder="Endereço da empresa"   name="emp_end" [(ngModel)]="endereco" required>
                <button mat-button *ngIf="endereco" matSuffix mat-icon-button aria-label="Limpar" (click)="endereco=''">
                  <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions class="example-button-row">
      <button mat-raised-button color="primary">Cadastrar Empresa</button>
      <button mat-raised-button color="basic">Voltar</button>
    </mat-card-actions>
  </mat-card>



