    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span> E-Lunch - Delivery de Almoço</span>
        <span class="span-title">
        <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" > Login </button>
        <button mat-button [routerLink]="['/cadastroCliente']" routerLinkActive="router-link-active" > Cadastrar Cliente </button>
        <button mat-button [routerLink]="['/cadastroFuncionario']" routerLinkActive="router-link-active" > Cadastrar Funcionario </button>
        <button mat-button [routerLink]="['/cadastroEmpresa']" routerLinkActive="router-link-active" > Cadastrar Empresa </button>
        <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active" > Cadastrar Cadarpio </button>
      </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
